@import 'react-input-checkbox/lib/react-input-checkbox.min.css';

.title{
    font-family:'Montserrat' ;
    font-size: ;
}
span{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}